{{- if .Values.rbac.createRoleBindings -}}
---

apiVersion: {{ include "global.capabilities.rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-operator-manager-rolebinding
  labels:
  {{- if .Values.globalLabels }}
  {{- include "global.tplvalues.render" ( dict "value" .Values.globalLabels "context" $ ) | nindent 4 }}
  {{- end }}
  {{- if .Values.global.annotations }}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: testkube-operator-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "testkube-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}

---

apiVersion: {{ include "global.capabilities.rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-operator-proxy-rolebinding
  labels:
  {{- if .Values.globalLabels }}
  {{- include "global.tplvalues.render" ( dict "value" .Values.globalLabels "context" $ ) | nindent 4 }}
  {{- end }}
  {{- if .Values.global.annotations }}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: testkube-operator-proxy-role
subjects:
- kind: ServiceAccount
  name: {{ include "testkube-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}

---

apiVersion: {{ include "global.capabilities.rbac.apiVersion" . }}
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-operator-leader-election-rolebinding
  labels:
  {{- if .Values.global.labels }}
  {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
  {{- end }}
  {{- if .Values.global.annotations }}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
  {{- end }}
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: testkube-operator-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "testkube-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}

---

apiVersion: {{ include "global.capabilities.rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-cronjobs-cluster-rolebinding
  labels:
  {{- if .Values.global.labels }}
  {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
  {{- end }}
  {{- if .Values.global.annotations }}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-cronjobs-cluster-role
subjects:
- kind: ServiceAccount
  name: {{ include "testkube-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}

---

{{- if and .Values.webhook.enabled .Values.webhook.patch.enabled }}
apiVersion: {{ include "global.capabilities.rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-operator-webhook-cert-mgr
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- if .Values.global.annotations }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
  labels:
    {{- include "testkube-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: testkube-operator-webhook-cert-mgr
subjects:
  - kind: ServiceAccount
    name: {{ include "testkube-operator.webhook.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}

{{- end -}}
