apiVersion: v1
kind: Service
metadata:
  name: {{ include "testkube-operator.metricsServiceName" . }}
  labels: {{- include "testkube-operator.selectorLabels" . | nindent 4 }}
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.annotations }}
  annotations:
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    control-plane: controller-manager

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "testkube-operator.webhookServiceName" . }}
  labels: {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.annotations }}
  annotations:
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: {{ .Values.containerPort }}
  selector: {{ include "testkube-operator.selectorLabels" . | nindent 6 }}
