{{- if and .Values.webhook.enabled .Values.webhook.patch.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- with .Values.webhook.patch.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "testkube-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
    {{- with .Values.webhook.patch.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  name: webhook-cert-patch
spec:
  template:
    metadata:
      {{- if .Values.webhook.patch.podAnnotations }}
      annotations: {{ toYaml .Values.webhook.patch.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
        {{- include "testkube-operator.labels" . | nindent 8 }}
        app.kubernetes.io/component: admission-webhook
        {{- with .Values.webhook.patch.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: patch
          image: {{ .Values.webhook.patch.image.repository }}:{{ .Values.webhook.patch.image.version }}
          imagePullPolicy: {{ .Values.webhook.patch.image.pullPolicy }}
          args:
            - patch
            - --namespace
            - {{ .Release.Namespace }}
            - --secret-name
            - {{ .Values.webhook.certificate.secretName }}
            - --webhook-name
            - {{ .Values.webhook.name }}
            - --crd-api-groups
            - tests.testkube.io,executor.testkube.io
          securityContext:
            allowPrivilegeEscalation: false
          {{- if .Values.webhook.patchWebhookJob.resources }}
          resources: {{ toYaml .Values.webhook.patchWebhookJob.resources | nindent 12 }}
          {{- end }}
      restartPolicy: Never
      serviceAccountName: {{ .Values.webhook.patch.serviceAccount.name }}
      {{- if .Values.webhook.patch.securityContext }}
      securityContext:
        {{- toYaml .Values.webhook.patch.securityContext | nindent 8 }}
      {{- end }}
  backoffLimit: 1
{{- end }}
