{{- if and .Values.webhook.enabled .Values.webhook.patch.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: webhook-cert-patch
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- if .Values.webhook.patch.annotations }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.webhook.patch.annotations "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.annotations }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
  labels:
    {{- include "testkube-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
    {{- if .Values.webhook.patch.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.webhook.patch.labels "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  template:
    metadata:
      annotations:
        {{- if .Values.webhook.patch.podAnnotations }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.webhook.patch.podAnnotations "context" $ ) | nindent 8 }}
        {{- end }}
        {{- if .Values.global.annotations }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 8 }}
        {{- end }}
      labels:
        {{- include "testkube-operator.labels" . | nindent 8 }}
        app.kubernetes.io/component: admission-webhook
        {{- with .Values.webhook.patch.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.global.labels }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: patch
          image: {{ include "global.images.image" (dict "imageRoot" .Values.webhook.patch.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.webhook.patch.image.pullPolicy }}
          args:
            - patch
            - --namespace
            - {{ .Release.Namespace }}
            - --secret-name
            - {{ .Values.webhook.certificate.secretName }}
            - --webhook-name
            - {{ .Values.webhook.name }}
            - --patch-validating=true
            - --patch-mutating=false
            - --crd-api-groups
            - tests.testkube.io,executor.testkube.io
          securityContext: {{- toYaml .Values.webhook.migrate.securityContext | nindent 12 }}
          {{- if .Values.webhook.patchWebhookJob.resources }}
          resources: {{ toYaml .Values.webhook.patchWebhookJob.resources | nindent 12 }}
          {{- end }}
      restartPolicy: Never
      serviceAccountName: {{ .Values.webhook.patch.serviceAccount.name }}
      {{- if .Values.webhook.patch.securityContext }}
      securityContext:
        {{- toYaml .Values.webhook.patch.securityContext | nindent 8 }}
      {{- end }}
  backoffLimit: 1
{{- end }}
