{{- if and .Values.webhook.enabled .Values.webhook.patch.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: webhook-cert-create
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- if .Values.webhook.patch.annotations }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.webhook.patch.annotations "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.annotations }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
  labels:
    {{- include "testkube-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
    {{- if .Values.webhook.patch.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.webhook.patch.labels "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  template:
    metadata:
      {{- if .Values.webhook.patch.podAnnotations }}
      annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.webhook.patch.podAnnotations "context" $ ) | nindent 8 }}
        {{- end }}
        {{- if .Values.global.annotations }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 8 }}
        {{- end }}
      labels:
        {{- include "testkube-operator.labels" . | nindent 8 }}
        app.kubernetes.io/component: admission-webhook
        {{- with .Values.webhook.patch.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.global.labels }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.webhook.migrate.enabled }}
      initContainers:
        - name: migrate
          image: {{ include "global.images.image" (dict "imageRoot" .Values.webhook.migrate.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.webhook.patch.image.pullPolicy }}
          args:
            - delete
            - secret
            - {{ .Values.webhook.certificate.secretName }}
            - --namespace
            - {{ .Release.Namespace }}
            - --ignore-not-found
      {{- end }}
      containers:
        - name: create
          image: {{ include "global.images.image" (dict "imageRoot" .Values.webhook.patch.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.webhook.patch.image.pullPolicy }}
          args:
            - create
            - --host
            - {{ include "testkube-operator.webhookServiceName" . }}.{{ .Release.Namespace }},{{ include "testkube-operator.webhookServiceName" . }}.{{ .Release.Namespace }}.svc
            - --namespace
            - {{ .Release.Namespace }}
            - --secret-name
            - {{ .Values.webhook.certificate.secretName }}
            - --key-name
            - tls.key
            - --cert-name
            - tls.crt
            - --ca-name
            - ca.crt
          securityContext: {{- toYaml .Values.webhook.migrate.securityContext | nindent 12 }}
          {{- if .Values.webhook.createSecretJob.resources }}
          resources: {{ toYaml .Values.webhook.createSecretJob.resources | nindent 12 }}
          {{- end }}
      restartPolicy: OnFailure
      serviceAccountName: {{ .Values.webhook.patch.serviceAccount.name }}
      {{- if .Values.webhook.patch.nodeSelector }}
      nodeSelector: {{ toYaml .Values.webhook.patch.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.webhook.patch.tolerations }}
      tolerations: {{ toYaml .Values.webhook.patch.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.webhook.patch.securityContext }}
      securityContext:
        {{- toYaml .Values.webhook.patch.securityContext | nindent 8 }}
      {{- end }}
  backoffLimit: {{ .Values.webhook.migrate.backoffLimit }}
{{- end }}
