apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "testkube-api.fullname" . }}
  labels: {{- include "testkube-api.labels" . | nindent 4 }}
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.global.annotations}}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  executors.json: |-
{{ .Files.Get "executors.json" | indent 4 }}
  job-container-template.yml: |-
{{ .Files.Get "job-container-template.yml.tmpl" | indent 4 }}
  job-scraper-template.yml: |-
{{ .Files.Get "job-scraper-template.yml.tmpl" | indent 4 }}
  job-template.yml: |-
{{- if .Values.configValues }}
{{ toYaml .Values.configValues | trimAll "|" | trim | indent 4 }}
{{- else }}
{{ .Files.Get "job-template.yml.tmpl" | indent 4 }}
{{- end }}
  pvc-container-template.yml: |-
{{ .Files.Get "pvc-container-template.yml.tmpl" | indent 4 }}
  slack-config.json: |-
{{- if .Values.slackConfig }}
{{ toJson .Values.slackConfig | indent 4 }}
{{- else }}
{{ .Files.Get "slack-config.json" | indent 4 }}
{{- end }}
  slack-template.json: |-
{{ .Files.Get "slack-template.json.tmpl" | indent 4 }}
