apiVersion: {{ include "global.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ include "testkube-api.fullname" . }}
  labels: {{- include "testkube-api.labels" . | nindent 4 }}
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.global.annotations}}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "testkube-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "testkube-api.selectorLabels" . | nindent 8 }}
          {{- if .Values.podLabels }}
          {{- include "global.tplvalues.render" ( dict "value" .Values.podLabels "context" $ ) | nindent 8 }}
          {{- end }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "testkube-api.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          env:
            - name: APISERVER_PORT
              value: "{{ .Values.service.port }}"
            - name: API_MONGO_DSN
              {{- if .Values.mongodb.secretName }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mongodb.secretName }}
                  key: {{ .Values.mongodb.secretKey }}
              {{- else }}
              value: "{{ .Values.mongodb.dsn }}"
              {{- end }}
              {{- if .Values.mongodb.sslCertSecret }}
            - name: API_MONGO_SSL_CERT
              value: {{ .Values.mongodb.sslCertSecret }}
              {{- end }}
            - name: API_MONGO_ALLOW_DISK_USE
              value: "{{ .Values.mongodb.allowDiskUse }}"
              {{- if .Values.nats.enabled }}
            - name: NATS_URI
              {{- if .Values.nats.secretName }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.nats.secretName }}
                  key: {{ .Values.nats.secretKey }}
              {{- else }}
              value: {{ include "testkube-api.nats.uri" . }}
              {{- end }}
              {{- end }}
            - name: POSTMANEXECUTOR_URI
              value: "{{ .Values.postmanExecutorURI }}"
            - name: TESTKUBE_ANALYTICS_ENABLED
              value: "{{ .Values.analyticsEnabled }}"
            {{- if .Values.slackSecret }}
            - name: SLACK_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.slackSecret }}"
                  key: SLACK_TOKEN
            {{- else }}
            - name: SLACK_TOKEN
              value: "{{ .Values.slackToken }}"
            {{- end }}
            - name: SLACK_CONFIG
              {{- if .Values.slackConfig }}
              value:  "{{ .Values.slackConfig }}"
              {{- else }}
              value: "{{ .Files.Get "slack-config.json" | b64enc }}"
              {{- end }}
            - name: SLACK_TEMPLATE
              {{- if .Values.slackTemplate }}
              value:  "{{ .Values.slackTemplate }}"
              {{- else }}
              value: "{{ .Files.Get "slack-template.json" | b64enc }}"
              {{- end }}
            - name: "STORAGE_ENDPOINT"
              {{- if .Values.storage.endpoint }}
              value:  "{{ .Values.storage.endpoint }}"
              {{- else }}
              value:  "testkube-minio-service-{{ .Release.Namespace }}:{{ .Values.storage.endpoint_port }}"
              {{- end }}
            - name: "STORAGE_BUCKET"
              value:  "{{ .Values.storage.bucket }}"
            - name: "STORAGE_ACCESSKEYID"
              value:  "{{ .Values.storage.accessKeyId }}"
            - name: "STORAGE_SECRETACCESSKEY"
              value: "{{ .Values.storage.accessKey }}"
            - name: "STORAGE_LOCATION"
              value: "{{ .Values.storage.location }}"
            - name: "STORAGE_TOKEN"
              value: "{{ .Values.storage.token }}"
            - name: "STORAGE_SSL"
              value:  "{{ .Values.storage.SSL }}"
            - name: "SCRAPPERENABLED"
              value:  "{{ .Values.storage.scrapperEnabled }}"
            - name: "LOGS_BUCKET"
              value:  "{{ .Values.logs.bucket }}"
            - name: "LOGS_STORAGE"
              {{- if .Values.logs.storage }}
              value:  "{{ .Values.logs.storage }}"
              {{- else }}
              value:  "mongo"
              {{- end }}
            - name: TESTKUBE_DEFAULT_EXECUTORS
              {{- if .Values.executors }}
              value:  "{{ .Values.executors }}"
              {{- else }}
              value: "{{ .Files.Get "executors.json" | b64enc }}"
              {{- end }}
            - name: TESTKUBE_NAMESPACE
              value: "{{ .Release.Namespace }}"
            - name: TESTKUBE_TEMPLATE_JOB
              value: "{{ .Files.Get "job-template.yml" | b64enc }}"
            - name: TESTKUBE_CONTAINER_TEMPLATE_JOB
              value: "{{ .Files.Get "job-container-template.yml" | b64enc }}"
            - name: TESTKUBE_CONTAINER_TEMPLATE_SCRAPER
              value: "{{ .Files.Get "job-scraper-template.yml" | b64enc }}"
            - name: TESTKUBE_CONTAINER_TEMPLATE_PVC
              value: "{{ .Files.Get "pvc-container-template.yml" | b64enc }}"
            - name: JOB_SERVICE_ACCOUNT_NAME
              value: "{{ .Values.jobServiceAccountName }}"
            - name: APISERVER_FULLNAME
              value: "{{ include "testkube-api.fullname" . }}"
            - name: APISERVER_CONFIG
              value: "testkube-api-server-config-{{ .Release.Namespace }}"
            - name: TESTKUBE_OAUTH_CLIENTID
              value:  "{{ .Values.cliIngress.oauth.clientID }}"
            - name: TESTKUBE_OAUTH_CLIENTSECRET
              value:  "{{ .Values.cliIngress.oauth.clientSecret }}"
            - name: TESTKUBE_OAUTH_PROVIDER
              value:  "{{ .Values.cliIngress.oauth.provider }}"
            - name: TESTKUBE_OAUTH_SCOPES
              value:  "{{ .Values.cliIngress.oauth.scopes }}"
            {{- if .Values.cloud.key }}
            - name: TESTKUBE_CLOUD_API_KEY
              value:  "{{ .Values.cloud.key}}"
            {{- end}}
            {{- if .Values.cloud.url }}
            - name: TESTKUBE_CLOUD_URL
              value:  "{{ .Values.cloud.url}}"
            {{- end}}
            {{- if .Values.extraEnvVars }}
            {{ include "global.tplvalues.render" (dict "value" .Values.extraEnvVars "context" $) | nindent 12 | trim }}
            {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ include "global.images.image" (dict "imageRoot" .Values.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8088
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
