apiVersion: v1
kind: Service
metadata:
  name: {{ include "testkube-api.fullname" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.service.labels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.service.labels  "context" $ ) | nindent 4 }}
    {{- end }}
    {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- if .Values.service.selector }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.service.selector  "context" $ ) | nindent 4 }}
    {{- end }}
    {{- include "testkube-api.selectorLabels" . | nindent 4 }}
