apiVersion: v1
kind: Service
metadata:
  name: {{ include "testkube-api.fullname" . }}
  labels:
    {{- include "testkube-api.labels" . | nindent 4 }}
      {{- if .Values.globalLabels }}
      {{- include "global.tplvalues.render" ( dict "value" .Values.globalLabels "context" $ ) | nindent 6 }}
      {{- end }}
    {{- if .Values.globalAnnotations }}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.globalAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- if .Values.service.selector }}
      {{- include "global.tplvalues.render" ( dict "value" .Values.service.selector  "context" $ ) | nindent 4 }}
      {{- end }}
      {{- include "testkube-api.selectorLabels" . | nindent 4 }}
