{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "testkube-api.serviceAccountName" . }}
  labels:
    {{- include "global.labels.standard" . | nindent 4 }}
      {{- if .Values.globalLabels }}
      {{- include "global.tplvalues.render" ( dict "value" .Values.globalLabels "context" $ ) | nindent 6 }}
      {{- end }}
  {{- if .Values.globalAnnotations }}
  annotations: {{- include "global.tplvalues.render" ( dict "value" .Values.globalAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
  {{- end }}