{{- if .Values.preUpgradeHookNATS.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Values.preUpgradeHookNATS.name }}"
  labels:
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    job-name: pre-upgrade
    {{- if .Values.global.labels }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 4 }}
    {{- end }}
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
    {{- if .Values.global.annotations}}
    {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.preUpgradeHookNATS.annotations }}
    {{- include "global.tplvalues.render" ( dict "value" .Values.preUpgradeHookNATS.annotations "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  {{- if .Values.preUpgradeHookNATS.ttlSecondsAfterFinished }}
  ttlSecondsAfterFinished: {{ .Values.preUpgradeHookNATS.ttlSecondsAfterFinished }}
  {{- end }}
  template:
    metadata:
      name: "{{ .Values.preUpgradeHookNATS.name }}"
      labels:
        app.kubernetes.io/component: nats
        app.kubernetes.io/name: "{{ .Values.preUpgradeHookNATS.name }}"
        {{- if .Values.global.labels }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.global.labels "context" $ ) | nindent 8 }}
        {{- end }}
        {{- if .Values.preUpgradeHookNATS.labels }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.preUpgradeHookNATS.labels "context" $ ) | nindent 8 }}
        {{- end }}
      {{- if or .Values.global.annotations .Values.preUpgradeHookNATS.podAnnotations }}
      annotations:
        {{- if .Values.global.annotations}}
        {{- include "global.tplvalues.render" ( dict "value" .Values.global.annotations "context" $ ) | nindent 8 }}
        {{- end }}
        {{- if .Values.preUpgradeHookNATS.podAnnotations }}
        {{- include "global.tplvalues.render" ( dict "value" .Values.preUpgradeHookNATS.podAnnotations "context" $ ) | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: "{{ .Values.preUpgradeHookNATS.name }}"
      {{- include "global.images.renderPullSecrets" (dict "global" .Values.global "secretPath" .Values.preUpgradeHookNATS.image.pullSecrets) | nindent 6 }}
      containers:
      - name: kubectl
        image: {{ include "global.images.image" (dict "imageRoot" .Values.preUpgradeHookNATS.image "global" .Values.global) }}
        imagePullPolicy: {{ .Values.preUpgradeHookNATS.image.pullPolicy }}
        {{- if .Values.preUpgradeHookNATS.resources }}
        resources: {{- toYaml .Values.preUpgradeHookNATS.resources | nindent 10 }}
        {{- end }}
        command:
        - /bin/bash
        - -c
        - >
            export deployment_name=$(kubectl get deployments -n {{ .Release.Namespace }} -o custom-columns=NAME:.metadata.name | grep 'box');
            export sts_name=$(kubectl get sts -n {{ .Release.Namespace }} -o custom-columns=NAME:.metadata.name | grep 'nats');
            export current_nats_version=$(kubectl get sts $sts_name -o=jsonpath='{$.metadata.labels}' -n {{ .Release.Namespace }} | awk -F'chart' '{print $2}' | awk -F'[^0-9]+' '{ print $2"."$3"."$4 }');

            if [ "$current_nats_version" = "0.19.1" ];
              then kubectl delete deployment $deployment_name -n {{ .Release.Namespace }};
                   kubectl delete sts $sts_name -n {{ .Release.Namespace }};
              else echo "NATS version is up-to-date";
            fi
        securityContext:
          {{- toYaml .Values.preUpgradeHookNATS.securityContext | nindent 10 }}
      securityContext:
        {{- toYaml .Values.preUpgradeHookNATS.podSecurityContext | nindent 8 }}
      restartPolicy: Never
      {{- if .Values.preUpgradeHookNATS.tolerations }}
      tolerations: {{ toYaml .Values.preUpgradeHookNATS.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.preUpgradeHookNATS.nodeSelector }}
      nodeSelector: {{ toYaml .Values.preUpgradeHookNATS.nodeSelector | nindent 8 }}
      {{- end }}
  {{- end }}
