apiVersion: v2
name: testkube
description: A Helm chart for testkube.
type: application
version: 1.6.61
dependencies:
  - name: testkube-operator
    version: 1.6.2
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-operator"
  - name: mongodb
    condition: mongodb.enabled
    version: 11.0.0
    repository: https://charts.bitnami.com/bitnami
  - name: nats
    condition: testkube-api.nats.enabled
    version: 0.17.5
    repository: https://nats-io.github.io/k8s/helm/charts/
  - name: testkube-api
    version: 1.6.19
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-api"
  - name: testkube-dashboard
    version: 1.6.0
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-dashboard"
    condition: testkube-dashboard.enabled
