apiVersion: v2
name: testkube
description: A Helm chart for testkube.
type: application
version: 0.9.94
dependencies:
  - name: testkube-operator
    version: 0.12.0
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-operator"
  - name: mongodb
    condition: mongodb.enabled
    version: 10.0.0
    repository: https://charts.bitnami.com/bitnami
  - name: api-server
    version: 0.11.16
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../api-server"
  - name: testkube-dashboard
    version: 1.0.10
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-dashboard"
    condition: testkube-dashboard.enabled
