apiVersion: v2
name: testkube
description: Testkube is an open-source platform that simplifies the deployment and management of automated testing infrastructure.
type: application
version: 1.16.46
dependencies:
  - name: testkube-operator
    version: 1.16.30
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-operator"
    condition: testkube-operator.enabled
  - name: mongodb
    condition: mongodb.enabled
    version: 13.10.1
    repository: https://charts.bitnami.com/bitnami
  - name: nats
    condition: testkube-api.nats.enabled
    version: 1.1.7
    repository: https://nats-io.github.io/k8s/helm/charts/
  - name: testkube-api
    version: 1.16.30
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-api"
  - name: testkube-dashboard
    version: 1.16.7
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-dashboard"
    condition: testkube-dashboard.enabled
  - name: testkube-logs
    version: 0.2.0
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-logs"
    condition: global.features.logsV2
  - name: global
    version: 0.1.2
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../global"
