apiVersion: v2
name: testkube
description: A Helm chart for testkube.
type: application
version: 1.8.12
dependencies:
  - name: testkube-operator
    version: 1.8.1
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-operator"
  - name: mongodb
    condition: mongodb.enabled
    version: 11.0.0
    repository: https://charts.bitnami.com/bitnami
  - name: nats
    condition: testkube-api.nats.enabled
    version: 0.19.1
    repository: https://nats-io.github.io/k8s/helm/charts/
  - name: testkube-api
    version: 1.8.2
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-api"
  - name: testkube-dashboard
    version: 1.8.6
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-dashboard"
    condition: testkube-dashboard.enabled
  - name: global
    version: 0.1.0
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../global"
