apiVersion: v2
name: testkube
description: A Helm chart for testkube.
type: application
version: 1.2.14
dependencies:
  - name: testkube-operator
    version: 1.0.23
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-operator"
  - name: mongodb
    condition: mongodb.enabled
    version: 11.0.0
    repository: https://charts.bitnami.com/bitnami
  - name: testkube-api
    version: 1.2.13
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-api"
  - name: testkube-dashboard
    version: 1.1.12
    #repository: https://kubeshop.github.io/helm-charts
    repository: "file://../testkube-dashboard"
    condition: testkube-dashboard.enabled
