apiVersion: v2
name: testkube
description: A Helm chart for testkube. 
type: application
version: 0.6.3
dependencies:
- name: testkube-operator
  version: 0.5.8
  #repository: https://kubeshop.github.io/helm-charts
  repository: "file://../testkube-operator"
- name: mongodb
  version: 10.0.0
  repository: https://charts.bitnami.com/bitnami
- name: api-server
  version: 0.6.0
  #repository: https://kubeshop.github.io/helm-charts
  repository: "file://../api-server"
- name: postman-executor
  version: 0.6.0
  #repository: https://kubeshop.github.io/helm-charts
  repository: "file://../postman-executor"
  condition: postman-executor.enabled
- name: cypress-executor
  version: 0.6.0
  #repository: https://kubeshop.github.io/helm-charts
  repository: "file://../cypress-executor"
  condition: cypress-executor.enabled
- name: curl-executor
  version: 0.6.0
  #repository: https://kubeshop.github.io/helm-charts
  repository: "file://../curl-executor"
  condition: curl-executor.enabled
- name: testkube-dashboard
  version: 0.5.2
  #repository: https://kubeshop.github.io/helm-charts
  repository: "file://../testkube-dashboard"
  condition: testkube-dashboard.enabled
