apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: executors-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - executor.testkube.io
  resources:
  - executors
  verbs:
  - get
  - watch
  - list
  - create
  - update

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: jobs-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - watch
  - list
  - create
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - watch
  - list
  - create

--- 

# permissions for end users to edit tests.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: script-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - tests.testkube.io
  resources:
  - scripts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  - deletecollection
- apiGroups:
  - tests.testkube.io
  resources:
  - scripts/status
  verbs:
  - get

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: test-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - tests.testkube.io
  resources:
  - tests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  - deletecollection
- apiGroups:
  - tests.testkube.io
  resources:
  - tests/status
  verbs:
  - get

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: secrets-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  - deletecollection

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: testsuite-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - tests.testkube.io
  resources:
  - testsuites
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  - deletecollection
- apiGroups:
  - tests.testkube.io
  resources:
  - testsuites/status
  verbs:
  - get

--- 

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: webhook-cluster-role-{{ .Release.Name }}
rules:
- apiGroups:
  - executor.testkube.io
  resources:
  - webhooks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  - deletecollection
- apiGroups:
  - executor.testkube.io
  resources:
  - webhooks/status
  verbs:
  - get
