apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kusk-gateway-api.serviceAccountName" . }}
rules:
- apiGroups:
  - gateway.kusk.io
  resources:
  - apis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - apis/status
  verbs:
  - get
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet/status
  verbs:
  - get
- apiGroups:
  - gateway.kusk.io
  resources:
  - staticroutes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - staticroutes/status
  verbs:
  - get
- apiGroups:
    - "apps"
  resources:
    - services
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - ""
  resources:
    - services
  verbs:
    - get
    - list
    - watch