## Reference: https://github.com/helm/chart-testing-action
name: Lint
on:
  pull_request:
    branches:
      - develop

permissions:
  contents: write

jobs:
  chart-test:
    name: Chart lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          check-latest: true

      - name: Setup Chart Linting
        uses: helm/chart-testing-action@v2.6.0
        with:
          version: v3.7.1

      - name: List changed charts
        id: list-changed
        run: |
          ## If executed with debug this won't work anymore.
          changed=$(ct --target-branch develop --config ./.github/configs/ct-lint.yaml list-changed)
          charts=$(echo "$changed" | tr '\n' ' ' | xargs)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
            echo "changed_charts=$charts" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct lint --debug --target-branch develop --config ./.github/configs/ct-lint.yaml --lint-conf ./.github/configs/lintconf.yaml
